<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio - PhilaniBiography</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.19/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>

    <div class="Screenshot" style="margin-left:-1%">
        
        <img class="Screenshot-img" src="~/img/profile-photo.png" alt="Philani" />
    </div>

    <section id="home" class="hero-sectio"style="margin-top:-14%">
        <div class="hero-conte">
            <h1>Philani Bhixi</h1>
            <h2>Software Developer</h2>
            <p>Lorem Ipsum Dolor Sit Amet Consectetur, Adipisicing Elit. Deserunt Totam Eveniet Explicabo Sit Consequuntur Veniam Esse Assumenda Rem At Officia.</p>

           @*  <div class="slider">
                <button class="prev"><i class="fas fa-chevron-left" style="color: orange;"></i></button>
                <button class="next"><i class="fas fa-chevron-right" style="color: orange;"></i></button>
            </div> *@

        </div>
    </section>

    <section id="contact" class="contact-section">
        <button class="contact-me">Contact Me</button>
        <h2>Get In Touch With Me</h2>

        <form asp-action="Submit" method="post">
            <input type="text" name="name" placeholder="Your Name" required>
            <input type="email" name="email" placeholder="Your Email" required>
            <input type="phone" name="phone" placeholder="Phone Number" required>
            <textarea name="message" placeholder="Your Message" required></textarea>
            <button type="submit">Send Message</button>
        </form>

        <div class="contact-info">
            <div class="info-ite">
                <i class="fas fa-phone"></i>
                <p>My Number</p>
                <p>064 090 7221</p>
                <p>111-222-3333</p>
            </div>
            <div class="info-ite">
                <i class="fas fa-envelope"></i>
                <p>My Email</p>
                <p>philaniprnc@gmail.com</p>
                <p>info@gmail.com</p>
            </div>
            <div class="info-ite">
                <i class="fas fa-map-marker-alt"></i>
                <p>My Address</p>
                <p>189 Prince Street, San Francisco </p>
                <p>Durban - 4000  </p>
            </div>
        </div>
    </section>


    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var emailSent = '@ViewBag.EmailSent';
            if (emailSent === 'True') {
                Swal.fire({

                    title: 'Success',
                    text: 'Your email has been sent successfully!',
                    customClass: {
                        popup: 'custom-swal'
                    }
                });
            } else if (emailSent === 'False') {
                Swal.fire({

                    title: 'Error',
                    text: 'There was a problem sending your email. Please try again later.',
                    customClass: {
                        popup: 'custom-swal'
                    }
                });
            }
        });
    </script>

</body>


</html>

<style>

    .custom-swal {
        height: auto !important; /* Ensure the height is adjusted based on content */
        max-height: 150px; /* Set the maximum height you want */
        overflow-y: auto; /* Add scroll if content exceeds the max height */
        padding: 20px; /* Adjust padding if necessary */
    }

        .custom-swal .swal2-title {
            margin-bottom: 5px; /* Adjust title margin if necessary */
        }

        .custom-swal .swal2-content {
            margin-bottom: 10px; /* Adjust content margin if necessary */
        }

    .info-ite {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

        .info-ite i {
            font-size: 24px;
        }

    .info-ite {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }


    .contact-section h2 {
        color: white;
        margin-bottom: 10px;
        font-size: 14px;
    }

    .contact-info p {
        color: white;
    }

    .contact-info i {
        color: #FFD700;
    }


    .hero-sectio {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #FFFFFF;
    }

    .hero-conten h1 {
        margin: 10px 0 5px;
        font-size: 25px; /* Adjusted font size */
        font-weight: bold; /* Optional: make the text bold */
        color: #FFFFFF;
    }

    .hero-conte h2 {
        margin: 5px 0;
        font-size: 20px; /* Adjusted font size */
        color: #FFFFFF;
        font-weight: normal; /* Optional: make the text normal weight */
    }

    .hero-conte p {
        max-width: 600px;
        margin: 28px auto;
        color: #FFFFFF;
        margin-left: 0px;
    }
    .Screenshot-img {
        position: relative;
        top: 3rem;
        width: 15vw;
        border-radius: 50%;
        box-shadow: 0 0 25px var(--main-color);
        cursor: pointer;
        transition: 0.4s ease-in-out;
        border-radius: 50%;
        border: 5px solid #fff;
    }

        .Screenshot-img:hover {
            box-shadow: 0 0 25px var(--main-color);
            box-shadow: 0 0 50px var(--main-color);
            box-shadow: 0 0 100px var(--main-color);
        }

</style>
