<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PhilaniBiography</title>
    <link rel="stylesheet" href="styles.css">
    <!-- Add Font Awesome for icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <br />

    <div class="EXPERIENCE">
        <h1>MY EXPERIENCE</h1>
       
        <h2>Technical Skills </h2>
        <ul>
            <li>&#128187; Proficiency in programming languages (Java, Python, C#, JavaScript, Ruby)</li>
            <li>&#128200; Strong analytical and problem-solving skills</li>
            <li>&#128295; Understanding of algorithms and data structures</li>
            <li>&#128101; Familiarity with version control systems (e.g., Git)</li>
            <li>&#128214; Knowledge of the Software Development Life Cycle (SDLC)</li>
        </ul>

        <div class="experience-card">
            <div class="icon">&#127942;</div>
            <h3>Experience</h3>
            <p>2+ years</p>
            <p>Full-Stack Development</p>
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        
        <h3> Description</h3>
        <ul>
            <li>
                <strong>Collaborate with Senior Developers</strong>: Work closely with senior developers to design and implement both web and mobile applications, guiding them from initial concept through to delivery.
            </li>
            <li>
                <strong>Front-End Development</strong>: Develop and maintain front-end components using HTML, CSS, and JavaScript frameworks such as React, Angular, or Vue.js, ensuring a seamless and interactive user experience.
            </li>
            <li>
                <strong>Server-Side Logic and API Implementation</strong>: Design and implement server-side logic and APIs using programming languages such as C#, Python, or Java to ensure robust and efficient backend operations.
            </li>
            <li>
                <strong>API Integration</strong>: Integrate third-party APIs and services to enhance application functionality and improve the user experience.
            </li>
            <li>
                <strong>Testing and Coverage</strong>: Develop and execute unit tests and functional tests to ensure comprehensive test coverage for the code you design, maintaining high standards of quality and performance.
            </li>
            <li>
                <strong>Code Quality</strong>: Write clean, well-documented, and efficient code following industry best practices and coding standards to ensure maintainability and scalability.
            </li>
            <li>
                <strong>Code Reviews and Debugging</strong>: Participate in code reviews, testing, and debugging processes to ensure the quality and reliability of applications before deployment.
            </li>
            <li>
                <strong>Cross-Functional Collaboration</strong>: Collaborate with cross-functional teams, including designers, product managers, and quality assurance testers, to deliver high-quality solutions on time.
            </li>
        </ul>
      
        <div class="interest" style="margin-top:3%  ">
            <div class="interests">
                <h2>Frontend Development</h2>
                <ul>
                    <li><i class="fas fa-check-circle"></i> HTML <span>Experienced</span></li>
                    <li><i class="fas fa-check-circle"></i> CSS <span>Experienced</span></li>
                    <li><i class="fas fa-check-circle"></i> DevExtreme <span>Intermediate</span></li>
                    <li><i class="fas fa-check-circle"></i> JavaScript <span>Basic</span></li>
                    <li><i class="fas fa-check-circle"></i> TypeScript <span>Basic</span></li>
                    <li><i class="fas fa-check-circle"></i> Material UI <span>Intermediate</span></li>
                </ul>
            </div>
            <div class="education">
                <h2>Backend Development</h2>
                <ul>
                   
                    <li><i class="fas fa-check-circle"></i> C# MVC <span>Intermediate</span></li>
                    <li><i class="fas fa-check-circle"></i> SQL Server <span>Intermediate</span></li>
                    <li><i class="fas fa-check-circle"></i> Node JS <span>Basic</span></li>
                    <li><i class="fas fa-check-circle"></i> Express JS <span>Intermediate</span></li>
                    <li><i class="fas fa-check-circle"></i> Git <span>Intermediate</span></li>
                    <li><i class="fas fa-check-circle"></i> API Development <span>Intermediate</span></li>
                </ul>

            </div>
        </div>
      
        <br />
        <br />
        <br />
    </div>

    <style>


        .experience-card {
            border: 1px solid #ccc;
            border-radius: 1px;
            padding: 15px;
            text-align: center;
            width: 350px;
            height:50px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

            .experience-card .icon {
                font-size: 22px;
                color: white;
            }

            .experience-card h3 {
                margin: 10px 0;
                font-size: 20px;
                color: white;
            }

            .experience-card p {
                margin: 3px 0;
                font-size: 12px;
                color: white;
            }


        .EXPERIENCE h1 {
            color: white;
            font-size: 20px;
            margin-left: 45%;
           
        }

        .EXPERIENCE h2 {
            color: white;
            font-size: 17px;
        }

        .EXPERIENCE h3 {
            color: white;
            font-size: 17px;
        }
        .EXPERIENCE p {
            white-space: pre-line;
            font-size: 16px;
        }

        .education{
            margin-top:-15%;
            margin-left: 42%;
        }
    </style>
</body>


</html>


