<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio - PhilaniBiography</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<br />
<br />

<body>
    <section id="home" class="hero-section">
        <div class="hero-conten">
            <div class="profile-pic">
                <img class="profile-img" src="~/img/profile.png" alt="John Deo" />
            </div>
            <h1>Deelenta Pillay</h1>
            <h2>Developer</h2>
            <p>Lorem Ipsum Dolor Sit Amet Consectetur, Adipisicing Elit. Deserunt Totam Eveniet Explicabo Sit Consequuntur Veniam Esse Assumenda Rem At Officia.</p>
            <div class="ratings">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <div class="slider">
                <button class="prev"><i class="fas fa-chevron-left"></i></button>
                <button class="next"><i class="fas fa-chevron-right"></i></button>
            </div>
        </div>
    </section>


</body>
</html>

<style>

  



</style>